#include <windows.h>
#include "ResID.h"
MainMenu1 MENU
{
    MENUITEM "&Статистика", MainMenuStats
}
MainMenu2 MENU
{
    MENUITEM "&Статистика", MainMenuStats
    POPUP "&Питание"
    {
        MENUITEM "Заполнить", MainMenuFoodAdd
        MENUITEM SEPARATOR
        MENUITEM "Просмотреть", MainMenuFoodView
    }
    POPUP "&Цены"
    {
        MENUITEM "Просмотреть", MainMenuPriceView
    }
}
MainMenu3 MENU
{
    POPUP "&Цены"
    {
        MENUITEM "Добавить", MainMenuPriceAdd
        MENUITEM "Редактировать", MainMenuPriceEdit
        MENUITEM SEPARATOR
        MENUITEM "Просмотреть", MainMenuPriceView
    }
}

MainMenu4 MENU
{
    MENUITEM "&Статистика", MainMenuStats
    POPUP "&Пользователи"
    {
        MENUITEM "Добавить", MainMenuUserAdd
        MENUITEM "Редактировать", MainMenuUserEdit
        MENUITEM "Удалить", MainMenuUserDelete
        MENUITEM SEPARATOR
        MENUITEM "Просмотреть", MainMenuUserView
    }
    POPUP "&Классы"
    {
        MENUITEM "Добавить", MainMenuClassAdd
        MENUITEM "Редактировать", MainMenuClassEdit
        MENUITEM "Удалить", MainMenuClassDelete
        MENUITEM SEPARATOR
        MENUITEM "Просмотреть", MainMenuClassView
    }
}
